.title {
    color: white;
    margin: 10px;
}

.Container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    color: white;
    grid-gap: 20px;
}

.poster {
    width: 100%;
    margin: 10px;
}

.Container .Description {
    color: white;
    text-align: justify;
}

.renta-compra {
    max-width: 380px;
}

.end {
    color: white;
    margin-right: 10px;
}


@media screen and (max-width: 1000px) {
    .Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .Description {
        margin-right: 5px;
    }
    .end {
        grid-column: 1/3;
        margin-left: 10%;
        margin-right: 10%;
        text-align: right;
    }
    .renta-compra {
        text-align: center;
        max-width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .title {
        margin: 10px;
        text-align: center;
    }
    .Container {
        display: inline-block;
    }
    .poster {
        margin: 0;
    }
    .Container .Description {
        padding: 10px;
        text-align: justify;
    }
}