.logo {
    max-width: 40%;
}

.show-grid {
    text-align: left;
    margin: 0 auto;
}

.input-button {
    margin-top: 7%;
    font-size: 16px;
    border-radius: 3px;
}

.input-box {
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .show-grid {
        text-align: center;
    }
    .logo {
        max-width: 90%;
    }
    .form-search {
        display: flex;
        justify-content: center;
        margin-top: 20%;
    }
    .input-button {
        margin: 0;
    }
    .input-button {
        font-size: 16px;
        border-radius: 3px;
    }
    .input-box {
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 765px) {
    .form-search {
        margin-top: 0;
    }
}