.Item {
    width: 100%;
    min-width: 100%;
    background-position: center;
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    transition: background 1s ease;
}

.Item .overlay {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .125s ease;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./img/icon.png");
}

.Item:hover .overlay {
    opacity: 1;
    pointer-events: all;
}

.Item:hover .overlay .ListToggle {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .Item {
        height: 100px;
    }
}

@media screen and (max-width: 320px) {
    .Item {
        height: 150px;
    }
}