:root {
    --not-white: #f4f4f4;
    --not-black: #0f0f0f;
    --blue-anuar: #0ac0c7;
}

.img-login {
    max-width: 50%;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--not-white);
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://images5.alphacoders.com/445/445155.jpg");
}

.form-login {
    border: 3px solid var(--not-white);
    width: 40%;
    color: black;
    font-weight: 700;
}

.login-label {
    color: white;
}

.input-login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--not-white);
    box-sizing: border-box;
    border-radius: 10px;
}

.button-login {
    background-color: #F40612;
    color: var(--not-white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.button-login:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 5px var(--not-black);
}

.button-login:focus {
    outline: none;
}

.button-login:active {
    transform: translateY(5px);
}

.a-login {
    text-decoration: none;
}

.a-login:visited {
    color: var(--not-white);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #F40612;
    border-radius: 10px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container-login {
    padding: 16px;
}

.span .psw {
    float: right;
    padding-top: 16px;
    color: white;
}

.psw {
    color: white;
}

/* Change styles for span and cancel button-login on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

@media screen and (max-width:744px) {
    .form-login {
        width: 90%;
    }
}