.Title {
    color: aliceblue
}

.title-sci {
    text-align: justify;
    color: white;
}

.TitleLis {
    padding: 20px 40px;
    transition: opacity 3s ease;
    opacity: 0;
    color: white;
}

.TitleLis .titles-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.TitleLis[data-loaded='true'] {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .title-sci {
        text-align: center;
    }
    .TitleLis .titles-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 424px) {
    .TitleLis .titles-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .TitleLis .titles-wrapper {
        display: flex;
        flex-direction: column;
    }
}