.Title {
    color: aliceblue
}

.TitleList {
    padding: 20px 40px;
    transition: opacity 3s ease;
    opacity: 0;
}

.TitleList .titles-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.TitleList[data-loaded='true'] {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .TitleList .titles-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 424px) {
    .TitleList .titles-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .TitleList .titles-wrapper {
        display: flex;
        flex-direction: column;
    }
}